<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @list.author %>
</p>

<table>
  <strong>Steps:</strong>
  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.description %></td>
        <td><%= step.list.name %></td>
        <td><%= link_to 'Show', list_step_path(step.list, step) %></td>
        <td><%= link_to 'Edit', edit_list_step_path(step.list, step) %></td>
        <td><%= link_to 'Mark Complete', [step.list, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   </tbody>
  </table>


<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'Add Steps', new_list_step_path(@list) %>
